<div >
    <% @plays.each do |play|%>
        <div class="col-md-2" style="margin-right:30px;">
            <h2 class="header">
                <a href="/plays/ <%= play.id%>" >
                    <%= image_tag play.play_img.url, class:"image"%>
                </a>
                <%= link_to play.title, play_path(play) %>
            </h2>
            <p>
                <%= link_to play.director, play_path(play)%>
            </p>
        </div>
    <% end%>
</div>